		body {
                        background-color: #e7dfd4;
                }

                div.main{padding:50px; width:500px;  border=5px solid #000; position:absolute; top:0; right:0; bottom:0; left:0; margin:auto;}


                table {
                        border-top: 1px solid #444444;
                        border-collapse: collapse;
                        margin-left: auto;
                        margin-right: auto;
                        width: 80%;
                }

		th {
			font-weight: bold;
			border-bottom: 1px solid #444444;
                	padding: 10px;
                	background-color: rgba(255, 255, 255, 0.7);
		}

                td {
                        border-bottom: 1px solid #444444;
                	padding; 10px;
                	background-color: rgba(255, 255, 255, 05);
                }

                h1 {
                        text-align: center;
                        color: #e83e8c;
                }

                .part1 {
                        width: 20%;
                        padding: 10px;
                }

                .part2 {
                        width: 60%;
                        padding: 10px;
                }

